{% extends 'base.html' %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-4">📚 Bienvenue à Biblio_UNZ</h1>
    <p class="lead">La plateforme de gestion de bibliothèque universitaire</p>
    <hr class="my-4">
    <p>Accédez au catalogue, gérez vos emprunts et suivez vos retours en toute simplicité.</p>
    {% if user.is_authenticated %}
        {% if user.role == 'administrateur' %}
            <a href="{% url 'administrateur:dashboard' %}" class="btn btn-primary btn-lg">Accéder au dashboard</a>
        {% elif user.role == 'bibliothecaire' %}
            <a href="{% url 'bibliothecaire:dashboard' %}" class="btn btn-primary btn-lg">Accéder au dashboard</a>
        {% else %}
            <a href="/users/dashboard-etudiant/" class="btn btn-primary btn-lg">Accéder à mon espace</a>
        {% endif %}
    {% else %}
        <div class="mt-4">
            <a href="{% url 'users:login' %}" class="btn btn-primary btn-lg mx-2">Se connecter</a>
            <a href="{% url 'users:register' %}" class="btn btn-success btn-lg mx-2">S'inscrire</a>
        </div>
    {% endif %}
</div>
{% endblock %}
