{% extends 'base.html' %}

{% block content %}
<div class="text-center py-5">
    <h1>⚙️ Tableau de bord Administrateur</h1>
    <p>Bienvenue {{ user.first_name }} {{ user.last_name }} !</p>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestion des utilisateurs</h5>
                    <a href="#" class="btn btn-primary">Gérer</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Statistiques</h5>
                    <a href="#" class="btn btn-primary">Voir</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
